@font-face {
    font-family: FontDense;
    src: url(dense/Dense-Regular.otf);
}
.jumbotron{
    background: rgba(127,255,212,0.8);
    margin: auto;
    

    
}
.row{
    
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;    
}

.nav-tabs{
    margin-bottom: 0;
}
 
.body{

}
h4{
    font-size: 150%;
}
.container{
    font-size: 150%
}

.member {
    position: relative;


}

.image {
  opacity: 1;
  display: block;
  width: 353.55px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.text{
 color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
}

.member:hover .image {
  opacity: 0.3;
}

.member:hover .middle {
  opacity: 1;
}