@font-face {
    font-family: FontDense;
    src: url(dense/Dense-Regular.otf);
}
.jumbotron{
    background: rgba(127,255,212,0.8);
    margin: auto;
    

    
}
.row{
    
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;    
}

.nav-tabs{
    margin-bottom: 0;
}
 
.body{

}
h4{
    font-size: 150%;
}
.midle {
  position: relative;
  width: 353.33px;
}

.image {
  display: block;
    width: 353.33px;
    height: auto;

    

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(127,255,212);
}

.midle:hover .overlay {
  opacity: 0.7;
}

.text {
  color: #777;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
    width: 300px;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    margin: 0;
}
li{
  margin: 0px 0;
}

h3{
    text-decoration-line: underline;
    margin-top: 2px;
    margin-bottom: 2px;
}

h5{
    font-size: 35px;
    margin-bottom: 2px;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
